/*
Skin Name:Shoppe Fitness
Version:1.0
Demo URI:https://themify.org/shoppe-fitness
Required Plugins:builder-contact,builder-maps-pro,builder-image-pro,builder-pricing-table,woocommerce,builder-woocommerce
*/

/************************************************************************************
GENERAL
*************************************************************************************/
:root{
	--theme_accent:#0bcf6c;
	--theme_accent_semi:rgba(11,207,108,.8);
	--theme_alt_accent:#e75d42
}
body{
	font:1em 'Roboto',Arial,sans-serif;
	line-height:1.5em;
	color:#404040
}
/* reset general border-radius */
input[type=reset], input[type=submit], button,input:read-write, input:read-only, input[type=radio], input[type=checkbox], select, textarea,.back-top a,.woocommerce .product-lightbox div.product div.images img,.woocommerce div.product div.images img,.woocommerce table.shop_table,.woocommerce .cart-collaterals .cart_totals,.cart-style-dropdown .cart-total-checkout-wrap,#cart-wrap .product-image img,.cart-style-dropdown #cart-wrap,ul.products li.product .post-image,.woocommerce-checkout #payment,.woocommerce-checkout #payment div.payment_box,#add_payment_method table.cart img,.woocommerce-error,.woocommerce-info,.woocommerce-message,.woocommerce-cart table.cart img,.woocommerce-checkout table.cart img,.woocommerce-product-gallery__wrapper .tf_swiper-container-initialized,.loops-wrapper.boxed .post-image img,.loops-wrapper.boxed li.product .post-image,.woocommerce .loops-wrapper.boxed .product,.loops-wrapper.boxed .post,.post-nav .arrow,ul.products li.product .post-image,.post-image img,.product img,#cart-wrap .button,.woocommerce ul.products li.product .button,.woocommerce #respond input#submit,.woocommerce #respond input#submit.alt,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce button.button.alt.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.select2-container--default .select2-selection--single,.select2-container--default .select2-selection--single .select2-selection__arrow,.woocommerce ul.products li.product .button{
	border-radius:0
}
/* FORMS
================================================ */
input[type=reset],input[type=submit],button{
	border:3px solid var(--theme_alt_accent);
	background-color:var(--theme_alt_accent);
	font:1em 'Viga',Arial,sans-serif;
	text-transform:uppercase;
	text-align:center;
	border-radius:0;
	padding:.86em 1.4em;
	transition:background .3s,color .3s,transform .3s,border .3s
}
input[type=reset]:hover,input[type=submit]:hover,button:hover{
	background-color:var(--theme_accent);
	border-color:var(--theme_accent)
}
input:read-write, input:read-only, input[type=radio], input[type=checkbox], select, textarea{
	border-radius:0;
	color:#404040;
	padding:1.25em
}
input[type=radio],input[type=checkbox]{
	border-color:#c0c0c0;
	padding:0 2px
}
/* HEADINGS
================================================ */
h1,h2,h3,h4,h5,h6{
	font-weight:400;
	letter-spacing:0;
	text-transform:uppercase
}
h1{
	position:relative;
	font:3.75em/1em 'Viga',Arial,sans-serif;
	margin:0 0 .5em
}
h2{
	font:3.1em/1.3em 'Viga',Arial,sans-serif;
	margin:0 0 .6em;
	letter-spacing:.03em
}
h3{
	font:1.625em/1.875em 'Viga',Arial,sans-serif
}
h4{
	font:1.375em /1.5em 'Viga',Arial,sans-serif
}
h5{
	font:italic 1.25em/1.6em 'Viga',Arial,sans-serif;
	margin:0 0 1em
}
/* fancy heading */
.module-fancy-heading .fancy-heading{
    line-height:1.25;
	font-weight:400
}
.module-fancy-heading h2.fancy-heading{
	margin-bottom:.1em
}
.module-fancy-heading .main-head{
	font-size:unset;
	text-transform:unset;
	letter-spacing:unset;
	margin:0
}
.module-fancy-heading{
	margin:0
}
.module-fancy-heading .sub-head{
	color:inherit;
	font-size:32%;
	letter-spacing:.06em;
	padding-top:0.3em
}
.module-fancy-heading .sub-head::after{
	border-top:6px solid var(--theme_accent);
	width:3.5em
}
/************************************************************************************
HEADER
*************************************************************************************/
#headerwrap{
	box-shadow:none
}
#header{
	width:1160px;
	margin:0 auto
}
#site-logo{
	font-family:"Viga",Arial,sans-serif;
	text-transform:none;
	margin-top:0
}
/* MAIN NAVIGATION
================================================ */
#main-nav > li > a:before{
	border-width:5px;
	top:auto;
	bottom:0
}
#main-nav a{
	font:.875em/1.875em 'Viga',Arial,sans-serif;
	text-transform:uppercase;
	letter-spacing:normal
}
/* HEADER BOXED LAYOUT/LOGO LEFT
================================================ */
.header-boxed-layout #headerwrap,.header-logo-left #headerwrap{
	border-bottom:none
}
.header-boxed-layout #header,.header-logo-left #header{
	display:flex;
	align-items:center;
	border-bottom:1px solid rgba(160,160,160,.3);
	padding:1em 0 0
}
.header-boxed-layout .sidemenu-off,.header-logo-left .sidemenu-off{
	display:flex;
	flex-wrap:wrap;
	margin-left:auto;
	align-items:flex-start
}
.header-boxed-layout .sidemenu-off .header-icons,.header-logo-left .sidemenu-off .header-icons{
	position:static;
	order:1
}
.header-boxed-layout #site-logo,.header-logo-left #site-logo{
	font:3em/1 "Viga",Arial,sans-serif;
	letter-spacing:0;
	margin-bottom:0;
	margin-top:-10px
}
.header-boxed-layout #site-logo a span,.header-logo-left #site-logo a span{
    padding:.35em 0
}
.header-boxed-layout #main-nav > li > a,.header-logo-left #main-nav > li > a{
	padding:1.4em .95em 1.8em;
	margin-right:0
}
.header-boxed-layout .search-button .tf_fa,.header-logo-left .search-button .tf_fa{
	padding:10px
}
.header-boxed-layout .search-button,.header-logo-left .search-button{
	margin-right:0;
	border:none
}
/* Fixed Header */
.header-boxed-layout .fixed-header #header,.header-logo-left  .fixed-header #header{
	padding:0.31em 0 0
}
.header-boxed-layout .fixed-header #site-logo,.header-logo-left .fixed-header #site-logo{
	font-size:2em;
	margin-top:0
}
.header-boxed-layout .fixed-header #site-logo a span,.header-logo-left .fixed-header #site-logo a span{
    padding:0;
}
.header-boxed-layout .fixed-header #main-nav > li > a,.header-logo-left .fixed-header #main-nav > li > a{
	padding:.6em .95em 1em
}
.header-boxed-layout .fixed-header .icon-menu li,.header-logo-left .fixed-header .icon-menu li{
    padding:0
}
/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap{
	background-color:#222;
	color:#aeaeae;
	text-align:left;
	position:relative;
	padding:7.5em 0 0;
	font-size:1em
}
#footerwrap a{
	color:#fff
}
#footerwrap a:hover{
	color:var(--theme_accent)
}
#footer-logo{
	font:3em 'Viga',Arial,sans-serif
}
.footer-text a{
	color:#fff
}
.footer-text .two{
	display:none
}
/* FOOTER WIDGETS
================================================ */
.footer-widgets .widgettitle,
.widgettitle{
	color:var(--theme_accent);
	font:1.1em 'Viga',Arial,sans-serif;
	letter-spacing:0;
	margin-bottom:.43em
}
.footer-widgets .textwidget{
	line-height:1.7em
}
.footer-widgets .widget{
	margin:0 0 2em
}
/* FOOTER NAV
================================================ */
.footer-nav{
	margin:0;
	padding:1.1em 0
}
.footer-nav li{
	font:.875em 'Viga',Arial,sans-serif;
	text-transform:uppercase
}
/* FOOTER BACK TO TOP
================================================ */
#footerwrap .back-top a{
	background-color:var(--theme_accent_semi);
}
.footer-block .back-top:not(.back-top-float){
	position:absolute;
	right:0;
	z-index:102;
	transform:none;
	left:auto;
	top:100%;
	margin:0;
	transform:translateY(100%);
	font-size:40px;
	text-align:right
}
.footer-block .back-top:not(.back-top-float) .arrow-up{
	color:#129b56
}
/* Box Content Footer */
.boxed-content #footerwrap{
	background-color:#cacaca
}
.boxed-content #footer .main-col,
.boxed-content #footer .section-col{
	padding:0 20px
}
/* FOOTER BLOCK
================================================ */
.footer-block .footer-column-wrap{
	display:flex;
	flex-flow:wrap column
}
/* Footer block site logo */
.footer-block.default #footer-logo{
	margin:0 0 1.5em
}
.footer-block #footerwrap .section-col{
	margin-bottom:5em
}
/* Footer block nav */
.footer-block .footer-nav-wrap{
	margin:0 auto;
	width:100%;
	background-color:#fff;
	z-index:100;
	order:1
}
.footer-block #footerwrap .footer-nav a{
	color:#404040
}
.footer-block #footerwrap .footer-nav a:hover,
.footer-block #footerwrap .footer-nav li:hover > a{
	color:var(--theme_accent)
}
/* Footer block social widget */
.footer-block .footer-widgets-wrap{
	max-width:none;
	width:100%;
	margin-bottom:1em
}
.footer-block #footer .widget.themify-social-links{
	padding-bottom:0;
	bottom:56px;
	position:absolute;
	right:0;
	z-index:100;
	margin-bottom:0
}
.footer-block #footer .widget.themify-social-links ul{
	margin:0;
	line-height:3.9em
}
.footer-block #footer .widget.themify-social-links a{
	border-left:1px solid #26ea87;
	color:#fff;
	padding:1.43em .75em 1.3375em 1.125em
}
.footer-block #footer .widget.themify-social-links a:hover{
	color:#404040
}
.footer-block #footer .social-links li{ 
	margin:0;
	text-align:center 
}
.footer-block #footer .social-links .icon-large i{
	border-radius:0 ; 
	margin-right:0 ;
	font-size:1.375em
}
/* Footer block footer text */
.footer-block .footer-text{
	background:var(--theme_accent);
	font:.875em 'Viga',Arial,sans-serif;
	text-transform:uppercase;
	color:#fff;
	padding:0;
	text-align:left;
	width:100%;
	opacity:1;
	margin-bottom:5px
}
.footer-block .footer-text .one{
	padding:1.6em
}
.footer-block #footerwrap .footer-text .one a:hover{
	color:var(--theme_alt_accent);
	text-decoration:none
}
/************************************************************************************
WOOCOMMERCE
*************************************************************************************/
#cart-wrap .button,.woocommerce #respond input#submit, .woocommerce #respond input#submit.alt, .woocommerce a.button, .woocommerce a.button.alt, .woocommerce button.button, .woocommerce button.button.alt, .woocommerce button.button.alt.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button, .woocommerce input.button.alt, .woocommerce ul.products li.product .button,.woocommerce span.onsale:before{
	background-color:var(--theme_alt_accent)
}
#cart-wrap .button:hover,.woocommerce #respond input#submit:hover, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:hover, .woocommerce a.button:hover, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt:hover, .woocommerce button.button:hover, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt:hover, .woocommerce input.button:hover, .woocommerce ul.products li.product .button:hover{
	background:var(--theme_accent)
}
/* PRODUCT SHAREWRAP */
.quick-look .tf_fa,
.wishlist-button .tf_fa{
  vertical-align:middle
}
/* ARCHIVE PRODUCT
================================================ */
.woocommerce ul.products li.product{
	text-align:center
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price{
    font-size:1em
}
.woocommerce ul.products li.product a:hover{
	color:var(--theme_accent)
}

/* SINGLE PRODUCT
================================================ */
.woocommerce div.product .product_title{
    font-size:1.4em;
    font-weight:bold;
    letter-spacing:-.02em;
    text-transform:none
}
/* RELATED PRODUCT */
.woocommerce .related.products ul.products .product,.woocommerce .upsells.products ul.products .product{
	text-align:center
}
.woocommerce .related h2,.woocommerce .upsells h2{
    font-size:1.1em;
    font-weight:600;
    letter-spacing:.05em;
    margin:0 0 2em;
    padding:1em 0 0;
    text-transform:uppercase
}
.related.products .fancy-heading{
    color:inherit
}
.related.products .fancy-heading strong{
	display:inline-block;
	font-size:unset;
	font-weight:inherit;
	letter-spacing:inherit
}
.related.products .fancy-heading:after{
    display:none
}
/************************************************************************************
BUILDER
*************************************************************************************/
/* BUTTON MODULE
================================================ */
.ui.builder_button{
	font:1em 'Viga',Arial,sans-serif;
	text-transform:uppercase;
	border-radius:0;
	padding:.8em 2em
}
.ui.red, .ui.red.nav ul, .ui.red.separate > li,
.ui.red.module-tab .tab-nav li, .ui.red.vertical .tab-nav, 
.ui.red.module-accordion .accordion-title, .ui.red.window .bar, 
.ui.red.module-tab.panel .tab-nav{
 	background-color:var(--theme_alt_accent);
 	border:0
}
.module.module-buttons a.red.builder_button:hover, .ui.red.nav li:hover, 
.ui.red.module-accordion li:hover .accordion-title, .ui.red.module-tab .tab-nav li:hover{
 	background-color:#c34c35
}
/* PRICING TABLE MODULE
================================================ */
.module-pricing-table .module-pricing-table-pop{
	color:#222;
	font:1.25em 'Viga',Arial,sans-serif
}
.module-pricing-table .module-pricing-table-pop::before{
	color:var(--theme_alt_accent)
}
.module-pricing-table .module-pricing-table-content{
	padding-bottom:3.25em
}
.module-pricing-table .module-pricing-table-title{
	font:1.5em 'Viga',Arial,sans-serif;
	padding:.96em .625em;
	width:auto;
	border-bottom:1px solid rgba(0,0,0,.2);
	box-sizing:border-box
}
.module.module-pricing-table .module-pricing-table-header{
	padding:0
}
.module-pricing-table.pricing-enlarge .module-pricing-table-title{
	font-size:1.85em;
	line-height:1em;
	padding:.9em .625em;
	border-color:#222
}
.module-pricing-table.pricing-enlarge{
	top:-1.75em
}
.module-pricing-table p{
	line-height:1.5em
}
.module-pricing-table.pricing-enlarge p{
	font-size:1.25em;
	line-height:1.75em
}
.module.module-pricing-table .module-pricing-table-price{
	font:4em 'Viga',Arial,sans-serif;
	border-bottom:1px solid rgba(0,0,0,.2);
	margin-bottom:0;
	margin-top:.45em;
	padding-bottom:.6em
}
.module.module-pricing-table.pricing-enlarge .module-pricing-table-price{
	background:#222 ;
	font:4.9em 'Viga',Arial,sans-serif;
	margin:0;
	padding:.7em 0;
	font-weight:700
}
.module.module-pricing-table .module-pricing-table-features{
	color:#404040
}
.module.module-pricing-table.pricing-enlarge .module-pricing-table-button,
.module.module-pricing-table .module-pricing-table-button{
	border-radius:0;
	font:1em 'Viga',Arial,sans-serif;
	width:58%;
	color:#fff
}
.module-pricing-table{
	margin-bottom:1em
}
.module.module-pricing-table{
	background-color:#fff
}
/* IMAGE MODULE
================================================ */
.module-image.image-overlay .image-content{
	padding:5%
}
.module-image.image-overlay h3.image-title{
	margin-bottom:0;
	font-size:1.2em;
	letter-spacing:.03em
}
/* IMAGE MODULE (TEAM)
================================================ */
.module-image.team-member .image-title:after{
	border-top:6px solid var(--theme_accent);
	content:"";
	display:block;
	margin:.6em 0 0;
	width:3em
}
.module-image.team-member .image-title{
	font-size:1.2em;
	line-height:1.3em;
	margin:0 0 .45em
}
/* BOX MODULE
================================================ */
.module-box-content.newsletter-box > h2{
	line-height:1em;
	letter-spacing:0
}
.module-box-content textarea,
.module-box-content input{
	border:0
}
.module-box-content input{
	max-width:16em
}
.module-box-content input[type="reset"], 
.module-box-content input[type="submit"], 
.module-box-content button{
	border:3px solid #fff;
	color:#fff
}
.module-box-content input[type="reset"]:hover, 
.module-box-content input[type="submit"]:hover, 
.module-box-content button:hover{
	background-color:#fff;
	border-color:var(--theme_alt_accent);
	color:var(--theme_alt_accent)
}

/* ---------------
Traning Page
------------------*/
.training-section .module-image.image-overlay .image-content{
	padding:5%
}
.free-class-section h1{
	margin:0 0 .2em
}
.free-class-section .contact-text{
	text-transform:uppercase;
	font-family:'Viga',Arial,sans-serif
}
.contact-btn .ui.builder_button{
	font-size:.875em;
	min-width:140px;
	padding:1em 2em
}

/* ---------------
Amenities Page
------------------*/
.note-section h3{
	display:inline-block;
	font-size:1.12em;
	margin-right:1em;
	line-height:1.5em
}
.note-section ul{
	display:inline-block;
	list-style:none;
	vertical-align:top
}
.note-section ul li{
	position:relative;
	padding-left:1.6em;
	margin-bottom:.75em
}
.machine-section .module-image .image-title{
	font-size:1.1em;
	line-height:1.3em;
	letter-spacing:.05em
}

/* ---------------
Locations Page
------------------*/
.address-info h4{
	font-size:1.125em;
	color:var(--theme_accent)
}
.address-info p{
	margin-bottom:1em
}
.shortcode.themify-list.location-hours ul{
	margin-left:0;
	list-style:none;
	color:#898989;
	font-size:.8125em;
	text-transform:uppercase
}
.shortcode.themify-list.location-hours ul li{
	line-height:1.5em
}
.shortcode.themify-list.location-hours ul strong{
	display:inline-block;
	margin-right:.3125em;
	width:90px
}
.shortcode.themify-list.location-hours ul em{
	font-style:normal
}
.contact-section{
	margin:-3.5em 0
}
.contact-form .form-control{
	max-width:100%
}
.contact-form input[type="reset"], 
.contact-form input[type="submit"], 
.contact-form button{
	border:3px solid #fff;
	color:#fff
}
.contact-form input[type="reset"]:hover, 
.contact-form input[type="submit"]:hover, 
.contact-form button:hover{
	background-color:#fff;
	border-color:var(--theme_alt_accent);
	color:var(--theme_alt_accent)
}
.contact-section .fancy-header{
	text-align:left
}

/* ---------------
Blog Page
------------------*/
.post-title a{
	color:#444
}
.project-date, .project-client,
.project-services, .project-view{
	color:var(--theme_alt_accent)
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media (max-width:1200px){
	#headerwrap{
		min-height:auto
	}
	#header{
		max-width:96%
	}
	.module-image.image-overlay h3.image-title{
		font-size:1.14em;
		letter-spacing:0
	}
	.module-box-content input{
		max-width:12.7em
	}
}
@media(max-width:1000px){
	h1,
	.page-title,
	.main-banner .module-fancy-heading h1.fancy-heading{
		font-size:3.5em
	}
	h2{
		font-size:2.5em;
		line-height:1.3em
	}
}
@media(max-width:760px){
	h1,
	.module-fancy-heading h1.fancy-heading,
	.page-title{
		font-size:3em
	}
	h2{
		font-size:2.2em;
		line-height:1.3em
	}
}
@media(max-width:680px){
	h1,
	.module-fancy-heading h1.fancy-heading,
	.page-title{
		font-size:2.4em
	}
	.module-fancy-heading .sub-head{
		font-size:38%
	}
	.footer-block .footer-nav-wrap{
		bottom:-6em
	}
	.footer-block .footer-text .one{
		padding:1.5em 1.5em 6em
	}
	.footer-block .footer-widgets-wrap{
		position:relative
	}
	.footer-block #footer .widget.themify-social-links{
		border-top:1px solid #26ea87;
		width:100%;
		text-align:right;
        top:auto;
        bottom:-149px
	}
	.footer-block #footerwrap .section-col{
		margin-bottom:7em
	}
	.footer-block #footer .social-widget a{
		padding:1.3em .75em 1.3375em 1.125em
	}
}