/*
Skin Name:Shoppe Kids
Version:1.0
Demo URI:https://themify.org/shoppe-kids
Required Plugins:builder-contact,builder-woocommerce,woocommerce
*/

/************************************************************************************
GENERAL
*************************************************************************************/
:root{
	--theme_accent:#4fbfa9
}
body{
	color:#404040;
	font:1em/1.5em 'Open Sans', sans-serif
}

/* HEADINGS
================================================ */
h1,h2,h3,h4,h5,h6{
	font-family:'Quicksand', sans-serif;
	font-weight:bold;
	color:inherit
}
h1{
	font-size:4.3em;
	letter-spacing:.03em
}
h2{
	font-size:2.15em;
	letter-spacing:.05em
}
/* fancy heading */
.related.products .fancy-heading,
.module-fancy-heading .sub-head{
	color:var(--theme_accent)
}

/* FORMS
================================================ */
input:read-write,
input:read-only,
input[type=radio],
input[type=checkbox],
select,
textarea{
	border-color:#ddd;
	text-transform:none;
	padding:.8em 1em;
	margin: 0 0 .9em;
}
input[type=radio],input[type=checkbox]{
	padding:0;
	margin-bottom:0
}
input[type=checkbox]:before{
	color:var(--theme_accent)
}
#commentform p label{
	display:inline-block;
	text-transform:none;
	letter-spacing:.01em;
	font-size:1em;
	transform:none;
	margin:0 0 .9em
}

/************************************************************************************
HEADER
*************************************************************************************/
#headerwrap{
	box-shadow:none
}
#header{
	width:1160px;
	max-width:94%;
	margin:0 auto;
}
.top-bar-widgets{
	background-color:var(--theme_accent);
	color:#fff
}
.top-bar-widgets .top-bar-widget-inner{
	width:1160px;
	max-width:94%;
	margin:0 auto;
	padding:0
}

/* SITE LOGO
================================================ */
#site-logo{
	font:bold 1.9em 'Quicksand', sans-serif;
	letter-spacing:.02em
}
#site-logo a{
	color:var(--theme_accent);
}
#site-description{
	font-size:.75em
}

/* MAIN NAVIGATION
================================================ */
#main-nav a{
	font-weight:600;
	font-family:'Quicksand', sans-serif;
	text-transform:none;
	padding:1.8em 1.225em
}
.header-overlay #main-nav a,
.header-slide-left #main-nav a,
.header-slide-right #main-nav a,
.header-minbar-left #main-nav a,
.header-minbar-right #main-nav a,
.header-left-pane #main-nav a,
.header-right-pane #main-nav a{
	padding:.6em .1em .6em 1.55em
}

/* SEARCH ICON
================================================ */
.header-icons .search-button{
	border:none;
	border-radius:100%;
	margin:0 0 0 9px
}
.search-button .tf_fa{
	font-size:22px;
	padding:10px;
}

/* CART ICON
================================================ */
.icon-menu .icon-menu-count{
	background-color:#f0524e;
	color:#fff
}
.icon-menu li>a{
	margin:3px 4px
}
.icon-menu em{
	padding: 10px 11px 10px 10px
}

/* ICON NAVIGATION
================================================ */
.header-icons{
	top:0
}

/* GENERIC ACCENT COLORS
================================================ */
.sidemenu .top-icon-wrap .icon-menu li > a .tooltip:before,
.icon-menu li>a .tooltip:before{
	border-bottom-color:var(--theme_accent)
}
.header-left-pane .sidemenu .top-icon-wrap li a .tooltip,
.header-right-pane .sidemenu .top-icon-wrap li a .tooltip,
.header-minbar-left #headerwrap .sidemenu-off .top-icon-wrap li a .tooltip,
.header-minbar-right #headerwrap .sidemenu-off .top-icon-wrap li a .tooltip,
.icon-menu li>a .tooltip{
	background-color:var(--theme_accent)
}
.header-block .sidemenu .top-icon-wrap .icon-menu li > a .tooltip{
	background-color:transparent
}

/* HEADER BOTTOM
================================================ */
.header-bottom .top-icon-wrap .icon-menu li > a .tooltip:before{
	border-bottom-color:transparent;
	border-top-color:var(--theme_accent)
}
#footerwrap .footer-tab:hover{
	color:#fff
}

/* HEADER MINBAR LEFT/RIGHT
================================================ */
.header-minbar-left #site-logo,
.header-minbar-right #site-logo{
	margin:0;
	line-height:1
}
.header-minbar-left.mobile-menu-visible #headerwrap .search-button,
.header-minbar-right.mobile-menu-visible #headerwrap .search-button,
#headerwrap .search-button{
	border:none;
	width:auto
}
.header-minbar-left.mobile-menu-visible #headerwrap .search-button,
.header-minbar-right.mobile-menu-visible #headerwrap .search-button{
	margin:.8em
}
.header-minbar-right .sidemenu-off .icon-menu li > a .tooltip:before{
	border-bottom-color:transparent;
	border-left-color:var(--theme_accent)
}
.header-minbar-left .sidemenu-off .icon-menu li > a .tooltip:before{
	border-bottom-color:transparent;
	border-right-color:var(--theme_accent)
}

/* HEADER SLIDE LEFT/RIGHT
================================================ */
.header-slide-right #headerwrap .search-button{
	margin-left:0
}

/* HEADER OVERLAY
================================================ */
.header-overlay #menu-icon{
	padding:7px 12px
}

/* HEADER STRIPE
================================================ */
.header-stripe .search-button{
	margin-right:25px
}

/************************************************************************************
PAGE NAVIGATION
*************************************************************************************/
.pagenav a,
.pagenav span{
	font-size:1em;
	font-weight:600;
	padding:12px 16px;
	margin:0 5px;
	color:inherit
}
.pagenav .current{
	background-color:var(--theme_accent);
	color:#fff
}

/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap{
	background-color:#f9f9f9
}
#footerwrap a{
	color:#404040
}

/* FOOTER LOGO
================================================ */
#footer-logo{
	font: 700 2.3em/1em 'Quicksand', sans-serif;
	text-transform:uppercase;
	letter-spacing:normal;
	margin-bottom:1.05em;
}

/* FOOTER WIDGETS
================================================ */
.footer-widgets .widgettitle,.widgettitle{
	font-family:'Quicksand', sans-serif;
	font-size:1.2em;
	font-weight:bold;
	letter-spacing:.04em;
	margin:0 0 1.4em;
	text-transform:none
}

/* FOOTER TEXT
================================================ */
.footer-text-outer{
	text-align:center;
	border-top:1px solid #ddd;
	padding-top:2.6em
}
.footer-text{
	opacity:1;
	font-size:1em
}
.footer-column-wrap{
	padding-top:6.5em
}
.footer-column-wrap .footer-text-outer{
	margin-bottom:2.7em
}

/************************************************************************************
WOOCOMMERCE
*************************************************************************************/
/* Buttons */
.products.tf_swiper-container a.button,
.woocommerce-product-search button,
.woocommerce ul.products li.product .button,
.woocommerce #respond input#submit,
.woocommerce #respond input#submit.alt,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce button.button.alt.disabled,
.woocommerce button.button:disabled,
.woocommerce button.button:disabled[disabled]{
	font-weight:bold;
	padding:.8em 1.8em;
	letter-spacing:-.02em
}
/* Sale */
.woocommerce span.onsale,
.woocommerce ul.products li.product .onsale{
    background-color:var(--theme_accent);
    color:#fff;
    min-width:auto;
    min-height:auto;
    line-height:normal;
    border-radius:30px;
    text-transform:none;
    padding:4px 16px;
    font-weight:normal;
    font-size:.55em;
    letter-spacing:.2em;
	top:20px;
	right:20px;
	transform:none
}
.woocommerce span.onsale:before,
.woocommerce ul.products li.product .onsale:before{
    background-color:transparent
}
.products.tf_swiper-container.wc-products .onsale{
	top:20px;
}
/* Title */
.woocommerce div.product .product_title,
.woocommerce ul.products li.product .woocommerce-loop-category__title,
.woocommerce ul.products li.product .woocommerce-loop-product__title,
.woocommerce ul.products li.product h3{
	font-family:'Quicksand', sans-serif;
	font-size:1.1em;
	letter-spacing:normal
}
.woocommerce div.product .product_title{
	font-size:2em
}
/* Price */
.woocommerce div.product p.price,
.woocommerce div.product span.price,
.woocommerce ul.products li.product .price ins,
ul.products li.product .post-content .price,
ul.products li.product .product-content .price{
	font-weight:bold;
	font-size:1.2em;
	color:var(--theme_accent)
}
.woocommerce ul.products li.product .price del{
	font-weight:bold
}
/* ordering */
.woocommerce .woocommerce-ordering select{
	text-transform:none;
	border:1px solid #ddd;
	font-size:14px;
	color:#808080;
    padding:9px 16px;
    padding-right:30px
}
/*SLIDE CART*/
#slide-cart .cart-total{
	font-size:.8em
}
#cart-wrap .button:hover{
	background-color:#000;
	color:#fff
}
/* general product */
.product-image{
	margin:0 0 1.5em;
	position:relative
}
.product-image:before{
	content:'';
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(255,255,255,.8);
	opacity:0;
	transition:opacity .5s
}
.woocommerce .products li.product .product-content .button{
	position:absolute;
	top:30%;
	left:50%;
	transform:translate(-50%, 0);
	white-space:nowrap;
	opacity:0;
	transition:all .5s
}
.woocommerce .products li.product .product-content .button:hover{
	transform:translate(-50%, 0);
}
li.product:hover .product-image:before,
.woocommerce .products li.product:hover .button{
	opacity:1
}

/* SINGLE PRODUCT
================================================ */
.woocommerce div.product form.cart .button{
	font-size:.7em;
	font-weight:bold;
	padding:1.225em 1.6em;
	margin-bottom:1.05em
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button.alt{
	font-size:.75em;
}
/* Tabs */
.woocommerce div.product .woocommerce-tabs ul.tabs{
	margin-bottom:2.2em
}
.woocommerce div.product .woocommerce-tabs ul.tabs li{
	text-transform:none;
	letter-spacing:-.001em;
	font-size:1em;
	line-height:1;
}
.woocommerce div.product .woocommerce-tabs ul.tabs:before{
	display:none !important;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li a{
	color:#000;
	padding:.5em .95em;
	text-transform:none;
	font-family:'Quicksand', sans-serif;
	font-weight:700;
}
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover a,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a{
	color:var(--theme_accent)
}

/* product share */
.woocommerce div.product div.summary .product-share-wrap{
	margin:0 0 .75em;
	position:static;
	width:auto;
	opacity:1
}
.woocommerce div.product div.summary .wishlist-button,
.woocommerce div.product div.summary .share-wrap .share-button{
	padding:9px
}
/* Wishlist */
.product-share-wrap{
	position:absolute;
	width:100%;
	top:45%;
	left:0;
	text-align:center;
	opacity:0
}
li.product:hover .product-share-wrap{
	opacity:1
}
a.quick-look, a.wishlist-button,
.share-wrap .share-button{
	background-color:rgba(255,255,255,.5);
	padding:6px;
	line-height:1.3
}
.product .product-share-wrap a.quick-look,
.product-share-wrap a.wishlist-button,
.product-share-wrap .share-wrap .share-button{
    color:var(--theme_accent)
}
a.quick-look .tf_fa,
a.wishlist-button .tf_fa{
	vertical-align:inherit
}
.product-share-wrap .wishlist-button:hover,
.product-share-wrap .quick-look:hover,
.share-wrap:hover .share-button,
.wishlist-button.wishlisted,
.woocommerce ul.products li.product a.wishlisted{
	background-color:#fff;
	color:var(--theme_accent)
}

/* related/upsells */
.woocommerce .related.products ul.products .product,
.woocommerce .upsells.products ul.products .product{
	text-align:center
}
.woocommerce .related h2, .woocommerce .upsells h2{
	text-transform:none;
	letter-spacing:.06em;
	font-size:1.7em;
	font-weight:bold;
	padding-top:1em
}

/* sticky buy */
.slide-cart-visible #tf_sticky_buy{
	display:none
}

/************************************************************************************
BUILDER STYLING
*************************************************************************************/
/* BUTTON MODULE
================================================ */
.ui.builder_button{
	text-transform:uppercase;
	font-weight:700;
	font-size:.95em;
	padding:.8em 1.8em;
	letter-spacing:.02em;
	line-height:normal
}
.builder_button.green{
	background-color:var(--theme_accent);
}
.ui.builder_button.green:hover{
	background-color:#000;
}
/* SLIDER MODULE
================================================ */
div.themify_builder_slider_vertical .carousel-prev,
div.themify_builder_slider_vertical .carousel-next{
	background-color:#fff;
	padding:17px 18px;
	box-shadow: 0px 1px 39.56px 3.44px rgba(0,0,0,.07);
	color:var(--theme_accent);
}
.tf_carousel_nav_wrap .carousel-prev,
.tf_carousel_nav_wrap .carousel-next{
	position:relative;
	padding:11px 12px
}
.tf_carousel_nav_wrap .carousel-prev:hover,
.tf_carousel_nav_wrap .carousel-next:hover{
	background:rgba(79,191,169,.8);
	color:#fff
}
.tf_carousel_nav_wrap .carousel-prev:before,
.tf_carousel_nav_wrap .carousel-next:before,
.tf_carousel_nav_wrap .carousel-prev:after,
.tf_carousel_nav_wrap .carousel-next:after{
	border-radius:2px;
	margin-left:0;
	margin-right:0;
	width:8px;
	height:8px
}
.tf_carousel_nav_wrap .carousel-prev:after,
.tf_carousel_nav_wrap .carousel-next:after{
	content:"";
	display:inline-block;
	border-top:2px solid;
	width:18px;
	position:absolute;
	top:50%;
	margin-top:1px
}
.tf_carousel_nav_wrap .carousel-prev:after{
	left:calc(50% - 8px)
}
.tf_carousel_nav_wrap .carousel-next:after{
	right:calc(50% - 8px)
}
.tf_carousel_bullets .tf_carousel_bullet,
.tf_carousel_bullets .tf_carousel_bullet:hover,
.tf_carousel_bullets a.selected{
	border-color:#ddd;
	border-width:7px
}
.tf_carousel_bullets .tf_carousel_bullet:hover,
.tf_carousel_bullets a.selected{
	border-color:var(--theme_accent)
}
.slider-finish .themify_swiper_container .tf_carousel_nav_wrap a{
	padding:9px
}
.slider-finish .themify_swiper_container .tf_carousel_nav_wrap a:after{
	margin-top:-1px
}
/* TESTIMONIAL MODULE
================================================ */
.module-testimonial-slider .post{
	text-align:left
}
.module-testimonial-slider .testimonial-content{
	border-radius:12px;
	background-color:#fff;
	padding:30px
}
.module-testimonial-slider .testimonial-entry-content{
	order:-1;
}
.module-testimonial-slider .tb_rating_wrap,
.module-testimonial-slider .tb_rating_fill{
	color:#000;
}
/* WC Product Filter
================================================ */
.wpf_items_wrapper .wpf_item .wpf_item_name{
	border:none;
	font-family:'Quicksand', sans-serif;
	font-weight:700;
	font-size:1.2em;
	letter-spacing:-.005em;
	padding:0
}
.wpf_items_wrapper .wpf_item ul.wpf_column_vertical li{
	margin-bottom:.6em;
	margin-top:.6em
}
.wpf_items_wrapper ul.wpf_column_vertical li:before{
	content:'';
	width:7px;
	height:7px;
	display:inline-block;
	vertical-align:middle;
	border-top:2px solid;
	border-right:2px solid;
	transform:rotateZ(45deg);
	margin-right:18px;
	color:var(--theme_accent)
}
.wpf_item li a{
	color:inherit;
	text-decoration:none;
	letter-spacing:-.03em
}
/* price range */
.wpf_item .wpf_slider.ui-slider{
	background-color:rgba(0,0,0,.05);
	height:4px
}
.wpf_item .wpf_slider.ui-slider .ui-slider-handle{
	background-color:#f0524e;
	border:none;
	padding:10px
}
#pagewrap .wpf_slider.ui-slider .ui-widget-header{
	background-color:var(--theme_accent)
}
.wpf_item .wpf-slider-label{
	font-weight:bold
}

/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media screen and (max-width:767px){
	div.themify_builder_slider_vertical .carousel-prev,
    div.themify_builder_slider_vertical .carousel-next{
		position:relative;
		margin:10px;
		transform:none
	}
}
@media screen and (max-width:680px){
	h1{
		font-size:1.8em
	}
	h2{
		font-size:1.5em
	}
}