/*
Skin Name:Shoppe Spa
Version:1.0
Demo URI:https://themify.org/shoppe-spa
Required Plugins:builder-contact, builder-maps-pro, builder-pricing-table, woocommerce, builder-woocommerce
*/

/************************************************************************************
GENERAL
*************************************************************************************/
:root{
	--theme_accent:#f1a3a3;
	--theme_accent_semi:rgba(241,164,164,.8)
}
body{
    font:.95em/1.5em 'Varela Round',Arial,sans-serif;
    color:#404040
}
/* reset general border-radius */
input[type=reset], input[type=submit], button,input:read-write, input:read-only, input[type=checkbox], select, textarea,.back-top a,.woocommerce .product-lightbox div.product div.images img,.woocommerce div.product div.images img,.woocommerce table.shop_table,.woocommerce .cart-collaterals .cart_totals,.cart-style-dropdown .cart-total-checkout-wrap,#cart-wrap .product-image img,.cart-style-dropdown #cart-wrap,ul.products li.product .post-image,.woocommerce-checkout #payment,.woocommerce-checkout #payment div.payment_box,#add_payment_method table.cart img,.woocommerce-error,.woocommerce-info,.woocommerce-message,.woocommerce-cart table.cart img,.woocommerce-checkout table.cart img,.woocommerce-product-gallery__wrapper .tf_swiper-container-initialized,.loops-wrapper.boxed .post-image img,.loops-wrapper.boxed li.product .post-image,.woocommerce .loops-wrapper.boxed .product,.loops-wrapper.boxed .post,.post-nav .arrow,ul.products li.product .post-image,.post-image img,.product img,#cart-wrap .button,.woocommerce ul.products li.product .button,.woocommerce #respond input#submit,.woocommerce #respond input#submit.alt,.woocommerce a.button,.woocommerce button.button,.woocommerce input.button,.woocommerce a.button.alt,.woocommerce button.button.alt,.woocommerce input.button.alt,.woocommerce button.button.alt.disabled,.woocommerce button.button:disabled,.woocommerce button.button:disabled[disabled],.select2-container--default .select2-selection--single,.select2-container--default .select2-selection--single .select2-selection__arrow,.woocommerce ul.products li.product .button,#post-lightbox-wrap:not(.post-lightbox-prepare),#post-lightbox-container,.icon-menu li > .sub-menu,#main-nav li > .sub-menu{
	border-radius:0
}
/* FORM ELEMENTS /*
================================================ */
input[type=reset],input[type=submit],button{
	text-transform:uppercase;
	letter-spacing:.095em;
	padding:1.3em 1.4em
}
/************************************************************************************
HEADING
*************************************************************************************/
h1,h2,h3,h4,h5,h6{
    color:inherit   
}
h1{
    font:700 4.2em 'Comfortaa', cursive;
    text-transform:uppercase;
    letter-spacing:.03em
}
h2{
    font:600 3.75em 'Comfortaa', cursive;
    text-transform:uppercase;
    letter-spacing:.05em
}
h3{
    font:700 1.875em 'Comfortaa', cursive;
    text-transform:uppercase;
    letter-spacing:.07em
}
h5{
    font:700 1.125em 'Comfortaa', cursive;
    letter-spacing:.1em
}

/* FANCY HEADING /*
================================================ */
h2.fancy-heading{
	font:600 3.75em 'Comfortaa', cursive
}
.module-fancy-heading .fancy-heading{
	line-height:1.25
}
.module-fancy-heading .main-head{
	font-size:100%;
	letter-spacing:inherit;
	text-transform:unset;
	margin:0
}
.module-fancy-heading .sub-head{
    color:inherit;
    display:flex;
    flex-direction:column;
    font-size:70%;
    padding-top:0.3em
}
.module-fancy-heading .main-head + .sub-head:after{
    order:-1;
    width:1.4em;
    margin-bottom:.27em;
    margin-top:0
}
.module-fancy-heading:not(.inline-fancy-heading) .tb_fancy_heading_icon_wrap{
	margin-top:0
}
.module-fancy-heading .tb_fancy_heading_icon img{
	width:22px;
	height:22px;
	vertical-align:middle
}
/************************************************************************************
HEADER
*************************************************************************************/
.top-bar-widgets .top-bar-widget-inner,
#header{
	width:1160px;
	margin:0 auto
}
/* SITE LOGO
================================================ */
#site-logo{
	font-family:Josefin Sans,Arial,sans-serif;
	text-transform:none;
	letter-spacing:-.01em
}
/* MAIN NAVIGATION
================================================ */
#main-nav > li > a:before{
	display:none
}
#main-nav .current_page_item > a,
#main-nav .current-menu-item > a,
#main-nav > li > a:hover{
    background:url('images/menu-active.png') no-repeat center bottom;
    color:#404040;
    transition:none
}
/* ICON NAVIGATION
================================================ */
.icon-menu #cart-icon-count{
	border-radius:0;
	border-left:1px solid rgba(180,180,180,.2);
	margin-left:10px;
	padding:0;
	padding-left:10px
}
#cart-wrap .button{
	border-radius:0
}
/* TOP BAR WIDGET
================================================ */
.top-bar-widgets .top-bar-widget-inner{
	padding-inline:0
}
/* TRANSPARENT HEADER
================================================ */
.transparent-header #headerwrap,
.transparent-header .header-icons a{
    color:#404040
}
.transparent-header .header-icons a:hover{
    color:#68bfc6
}
/* HEADER LOGO LEFT
================================================ */
.header-boxed-layout #header,.header-logo-left #header{
	display:flex;
	align-items:center
}
.header-boxed-layout .sidemenu-off,.header-logo-left .sidemenu-off{
	display:flex;
	flex-wrap:wrap;
	margin-left:auto
}
.header-boxed-layout #site-logo,.header-logo-left #site-logo{
	font-size:3em
}
.header-boxed-layout #site-logo span,.header-logo-left #site-logo span{
	padding-block:0.2em
}
.header-boxed-layout .search-button .tf_fa,.header-logo-left .search-button .tf_fa{
    padding:10px 12px;
}
.header-boxed-layout .sidemenu-off .header-icons,.header-logo-left .sidemenu-off .header-icons{
	position:static;
	order:1
}
/* HEADER BOTTOM
================================================ */
.header-bottom #footerwrap{
	margin-top:0;
	padding-bottom:12%;
	background-size:100% 50%;
	background-color:#fff
}
/* HEADER SLIDE LEFT/RIGHT, MINBAR LEFT/RIGHT
================================================ */
.header-minbar-left .top-bar-widgets .top-bar-widget-inner,
.header-minbar-right .top-bar-widgets .top-bar-widget-inner{
	padding-inline:32px
}
/************************************************************************************
FOOTER
*************************************************************************************/
#footerwrap{
    background:url('images/footer-bg.jpg') no-repeat left bottom / 100%;
    border-top:0;
    margin-top:4em;
    padding:0 0 24%
}
/* FOOTER TEXT
================================================ */
.footer-text .one,.footer-text .two {
    display:block
}
.footer-text{
    color:#404040
}
.footer-text .one{
    font-size:1.5em;
    letter-spacing:.05em 
}
.footer-text .one h3{
    font-size:1.5em;
    margin-bottom:1.3em
}
.footer-text .two h3{
    color:#82d3da;
    margin-top:1.5em;
    font:400 2.2em 'Comfortaa', cursive
}
/* FOOTER WIDGET
================================================ */
.footer-widgets .widgettitle{
    color:#82d3da;
    font-weight:600
}
/************************************************************************************
WOOCOMMERCE
*************************************************************************************/
/* WOOCOMMERCE BUTTONS
================================================ */
.woocommerce ul.products li.product .button, .woocommerce #respond input#submit, .woocommerce #respond input#submit.alt, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce button.button.alt.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled]{
    font:.875em 'Comfortaa', cursive;
    padding:1.125em .9em

}
.woocommerce ul.products li.product .button:hover,.woocommerce #respond input#submit:hover,.woocommerce #respond input#submit.alt:hover,.woocommerce a.button:hover,.woocommerce button.button:hover,.woocommerce input.button:hover,.woocommerce a.button.alt:hover,.woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover,.woocommerce button.button.alt.disabled:hover,.woocommerce button.button:disabled:hover,.woocommerce button.button:disabled[disabled]:hover{
	color:#fff;
	transform:none
}
/* ARCHIVE PRODUCT
================================================ */
.woocommerce ul.products li.product{
	text-align:center
}
.woocommerce ul.products li.product .button{
	font-size:.75em;
    padding:1em 1.25em
}
.woocommerce ul.products li.product h3,
.wc-products .product h3{
    border-bottom:1px solid rgba(0,0,0,.2);
    margin-bottom:.9375em;
    padding-bottom:1em
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price{
    color:#82d3da;
    font-size:1em
}
.woocommerce ul.products li.product h3 a,
.woocommerce .product h3 a{
    font:700 1.125em 'Comfortaa', cursive;
    color:#404040;
    text-transform:uppercase
}
/* SINGLE PRODUCT
================================================ */
/* breadcrumb */
.woocommerce .woocommerce-breadcrumb a:hover,
.woocommerce ul.products li.product h3 a:hover,
.woocommerce .product h3 a:hover{
    color:var(--theme_accent);
    text-decoration:none
}
/* qty */
.woocommerce .quantity .qty{
    padding:.875em .5em
}
/* coupon */
.woocommerce-page #content table.cart td.actions .coupon .input-text{
	padding:1.05em;
	width:8.5em
}
/* PRODUCT SHAREWRAP */
.quick-look .tf_fa,
.wishlist-button .tf_fa{
  vertical-align:middle
}
/************************************************************************************
BUILDER STYLING
*************************************************************************************/
/* BUTTONS
================================================ */
.ui.builder_button{
	font:.875em 'Comfortaa', cursive;
	letter-spacing:.07em;
	text-transform:uppercase
}
.module.module-buttons a.pink.builder_button{
    background-color:var(--theme_accent);
    border-color:var(--theme_accent)
}
.module.module-buttons a.pink.builder_button:hover{
    background-color:var(--theme_accent_semi);
    border-color:var(--theme_accent_semi)
}
/* Outline Button */
.module-buttons.outline a{
    border-width:2px;
    letter-spacing:.1em
}
.module-buttons.outline{
    font:.875em 'Comfortaa', cursive;
    text-transform:uppercase
}
.module.module-buttons.outline a.pink.builder_button{
    border-color:var(--theme_accent);
    color:#404040
}
.module.module-buttons.outline a.pink.builder_button:hover{
    background-color:var(--theme_accent)!important;
    color:#fff
}
/* IMAGE CAPTION
================================================ */
.service-block .module-image.image-overlay .image-wrap noscript + .image-content,
.service-block .module-image.image-overlay .image-wrap a + .image-content,
.service-block .module-image.image-overlay img + .image-content{
    bottom:-2.8125em;
    left:50%;
    transform:translateX(-50%)

}
.module-image.image-overlay .image-content{
    background:#82d3da
}
.service-block .module-image.image-overlay .image-content{
    text-align:center;
    width:auto;
    min-width:20em;
    padding:3% 4%
}
.service-block .module-image.image-overlay .image-content h3{
    margin-bottom:0;
    font-weight:400
}
/* gallery block */
.gallery-block .image-wrap .image-content{
    width:100%;
    height:100%;
    left:0;
    top:0;
    margin:0;
    opacity:0;
    transition:opacity .3s ease .1s, background-color .3s ease .1s;
    padding:1.375em;
    text-align:center
}
.gallery-block .image-wrap .image-content:before{
    content:"";
    width:99%;
    height:99%;
    display:inline-block;
    border:2px solid #fff
}
.gallery-block .image-wrap:hover .image-content{
    background:rgba(130, 211, 218, .9);
    cursor:pointer;
    opacity:1
}
.gallery-block .image-wrap .image-content h3{
    font-size:1.125em;
    left:50%;
    position:absolute;
    top:50%;
    transform:translate(-50%, -50%)
}
/* Newsletter */
.newsletter-block h2{
    font:400 3.125em 'Comfortaa', cursive
}
/* SERVICE MENU MODULE
================================================ */
.module-service-menu{
    border-bottom:1px solid rgba(0,0,0,.2)
}
.module-service-menu.image-top .tb-image-content{
    margin-bottom:0;
    margin-top:6%
}
.module-service-menu .tb-menu-title{
    font:400 1em 'Varela Round',Arial,sans-serif;
    float:left;
    text-transform:none
}
.module-service-menu .tb-menu-price{
    float:right;
    font:400 1em 'Varela Round',Arial,sans-serif;
    margin-top:0
}
/* PRICING TABLE MODULE
================================================ */
.module-pricing-table .module-pricing-table-price{
    font:700 3.75em/1em 'Comfortaa', cursive;
    letter-spacing:.05em;
    margin:0
}
.module-pricing-table .module-pricing-table-description{
    font-size:1.5em;
    text-transform:uppercase;
    letter-spacing:.05em
}
.module-pricing-table .module-pricing-table-features{
    font-size:.875em;
    line-height:1.5em;
    color:#fff;
    padding:0;
    letter-spacing:.03em
}
.module-pricing-table.transparent,
.module-pricing-table.transparent .module-pricing-table-header.transparent{
    background:0;
    border-color:transparent
}
/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
@media (max-width:1200px){
	.top-bar-widgets .top-bar-widget-inner,
	#header{
		max-width:96%
	}
}
@media(max-width:1000px){
    .gallery-block .image-wrap .image-content{
        position:absolute!important
    }  
}
@media(max-width:760px){
	h1{
	    font-size:3.75em
	}
	h2{
	    font-size:2em
	}
    body #content{
        padding-top:5.75%
    }
    .service-block .module-image.image-overlay .image-content{
        position:absolute!important
    }
}
@media(max-width:680px){
    h1{
        font-size:3.4em
    }
    h2{
        font-size:2.5em
    }
    #site-logo,#site-logo a{
        font-size:1.5em!important
    }
    textarea, input[type=text], input[type=password], input[type=search], input[type=email], input[type=url], input[type=number], input[type=tel], input[type=date], input[type=datetime], input[type=datetime-local], input[type=month], input[type=time], input[type=week]{
        max-width:100%
    }
    .module-pricing-table.transparent,
    .module-pricing-table.transparent .module-pricing-table-header.transparent{
        border-right:transparent!important
    }
}